@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
    
}

body {
    background-color: rgb(236, 214, 185);
}

.container {
    width: 100vw;
    padding-left: 100px;
    list-style-position: inside;
}
h2 {
    width: fit-content;
    margin: 100px 0 0 0px;
}
.form {
  

    height: 40px;
    margin: 0 0 50px 0;
    
}

.container input[type=text] {
    height: 100%;
    padding: 2px 0 2px 3px;
    border:none;
    font-size: 26px;
    outline: none;
}
.addBtn {
    height: 100%;
    padding:0 10px ;
    border:none;
    font-size: 26px;
    font-weight: 500;
}


.item {
    padding: 10px 0;
    font-size: 16px;
    word-break: break-word;
}
p {
    font-size: 52px;
}

p button {
    padding: 0px 5px;
    margin: 0 0 0px 20px;
    border:none;
    background-color:rgb(177, 174, 169);
    color: yellow;
    cursor: pointer;
    border-radius: 0px;
    font-size: 16px;
}



/* Mobile */

@media(max-width: 576px) {
  .container {
    padding-left: 0px;
  }
    h2 {
        width: fit-content;
        margin: 50px auto 0;
    }
    .form {
        width: fit-content;
        height: 40px;
        margin:0 auto 50px;
    }
    .container input[type=text] {
     width: 80vw;
    }
    .item {
        font-size: 16px;
    }
    .item p  {
        width: 90vw;
       padding-left: 10px;
       margin: auto;
  
    }


}