@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

body {
    background-color: rgb(236, 214, 185);
}

.container {
    padding: 100px;
    list-style-position: inside;
}
.form {
    height: 40px;
}
.container input[type=text] {
    height: 100%;
    padding: 2px 0 2px 3px;
    border:none;
    font-size: 26px;
    outline: none;
}
.addBtn {
    height: 100%;
    padding:0 10px ;
    border:none;
    font-size: 26px;
    font-weight: 500;
}

ul {
    list-style: none;
}
ul li {
    height: fit-content;
    padding: 10px 0;
    font-size: 46px;
}


li button {
    padding: 10px;
    margin: 0 0 0px 20px;
    border:none;
    background-color:rgb(177, 174, 169);
    color: yellow;
    cursor: pointer;
    border-radius: 20px;
}